<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hualuomoli.mp.nideshop.base.mapper.FootprintBaseMapper">

  <!-- 返回的列 -->
  <sql id="columns">
    `id` as "id",
    `user_id` as "user_id",
    `goods_id` as "goods_id",
    `add_time` as "add_time"
  </sql>
  
  <!-- 查询的列 -->
  <sql id="querys">
    <if test="id != null"> 
      and `id` = #{id}
    </if>
    <if test="user_id != null"> 
      and `user_id` = #{user_id}
    </if>
    <if test="goods_id != null"> 
      and `goods_id` = #{goods_id}
    </if>
    <if test="add_time != null"> 
      and `add_time` = #{add_time}
    </if>
  </sql>
  
  <!-- 根据主键id查询 -->
  <select id="get" resultType="cn.hualuomoli.mp.nideshop.base.entity.Footprint">
    select 
      <include refid="columns" />
    from `nideshop_footprint`
    where `id` =  #{id}
  </select>
  
  <!-- 添加 -->
  <insert id="insert">
    insert into `nideshop_footprint` (
      `id`,
      `user_id`,
      `goods_id`,
      `add_time`
    ) values (
      #{id},
      #{user_id},
      #{goods_id},
      #{add_time}
    )
  </insert>

  <!-- 批量添加 -->
  <insert id="batchInsert">
    insert into `nideshop_footprint` (
      `id`,
      `user_id`,
      `goods_id`,
      `add_time`
    ) 
    <foreach collection="list" item="obj" separator="union all">
    select
      #{obj.id},
      #{obj.user_id},
      #{obj.goods_id},
      #{obj.add_time}
    </foreach>
  </insert>
  
  <!-- 根据主键修改全部信息 -->
  <update id="update">
    update `nideshop_footprint`
    <set>
        `user_id` = #{user_id},
        `goods_id` = #{goods_id},
        `add_time` = #{add_time},
    </set>
    where id =  #{id}
  </update>

  <!-- 根据主键id修改 -->
  <update id="updateById">
    update `nideshop_footprint`
    <set>
      <if test="user_id != null"> 
        `user_id` = #{user_id},
      </if>
      <if test="goods_id != null"> 
        `goods_id` = #{goods_id},
      </if>
      <if test="add_time != null"> 
        `add_time` = #{add_time},
      </if>
    </set>
    where id =  #{id}
  </update>

  
  <!-- 根据主键id删除 -->
  <delete id="delete">
    delete from `nideshop_footprint` where id =  #{id}
  </delete>
  

  <!-- 根据主键id数组删除 -->
  <delete id="deleteByArray">
    delete from `nideshop_footprint`
    <where>
      <foreach collection="ids" item="id" separator="or">
        id =  #{id}
      </foreach>
      </where>
  </delete>
  
  <!-- 查询列表 -->
  <select id="findList" resultType="cn.hualuomoli.mp.nideshop.base.entity.Footprint">
    select
      <include refid="columns" />
    from `nideshop_footprint`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>