<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hualuomoli.mp.nideshop.base.mapper.GoodsAttributeBaseMapper">

  <!-- 返回的列 -->
  <sql id="columns">
    `id` as "id",
    `goods_id` as "goods_id",
    `attribute_id` as "attribute_id",
    `value` as "value"
  </sql>
  
  <!-- 查询的列 -->
  <sql id="querys">
    <if test="id != null"> 
      and `id` = #{id}
    </if>
    <if test="goods_id != null"> 
      and `goods_id` = #{goods_id}
    </if>
    <if test="attribute_id != null"> 
      and `attribute_id` = #{attribute_id}
    </if>
    <if test="value != null and value != ''"> 
      and `value` = #{value}
    </if>
  </sql>
  
  <!-- 根据主键id查询 -->
  <select id="get" resultType="cn.hualuomoli.mp.nideshop.base.entity.GoodsAttribute">
    select 
      <include refid="columns" />
    from `nideshop_goods_attribute`
    where `id` =  #{id}
  </select>
  
  <!-- 添加 -->
  <insert id="insert">
    insert into `nideshop_goods_attribute` (
      `id`,
      `goods_id`,
      `attribute_id`,
      `value`
    ) values (
      #{id},
      #{goods_id},
      #{attribute_id},
      #{value}
    )
  </insert>

  <!-- 批量添加 -->
  <insert id="batchInsert">
    insert into `nideshop_goods_attribute` (
      `id`,
      `goods_id`,
      `attribute_id`,
      `value`
    ) 
    <foreach collection="list" item="obj" separator="union all">
    select
      #{obj.id},
      #{obj.goods_id},
      #{obj.attribute_id},
      #{obj.value}
    </foreach>
  </insert>
  
  <!-- 根据主键修改全部信息 -->
  <update id="update">
    update `nideshop_goods_attribute`
    <set>
        `goods_id` = #{goods_id},
        `attribute_id` = #{attribute_id},
        `value` = #{value},
    </set>
    where id =  #{id}
  </update>

  <!-- 根据主键id修改 -->
  <update id="updateById">
    update `nideshop_goods_attribute`
    <set>
      <if test="goods_id != null"> 
        `goods_id` = #{goods_id},
      </if>
      <if test="attribute_id != null"> 
        `attribute_id` = #{attribute_id},
      </if>
      <if test="value != null"> 
        `value` = #{value},
      </if>
    </set>
    where id =  #{id}
  </update>

  
  <!-- 根据主键id删除 -->
  <delete id="delete">
    delete from `nideshop_goods_attribute` where id =  #{id}
  </delete>
  

  <!-- 根据主键id数组删除 -->
  <delete id="deleteByArray">
    delete from `nideshop_goods_attribute`
    <where>
      <foreach collection="ids" item="id" separator="or">
        id =  #{id}
      </foreach>
      </where>
  </delete>
  
  <!-- 查询列表 -->
  <select id="findList" resultType="cn.hualuomoli.mp.nideshop.base.entity.GoodsAttribute">
    select
      <include refid="columns" />
    from `nideshop_goods_attribute`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>