<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hualuomoli.mp.nideshop.base.mapper.ProductBaseMapper">

  <!-- 返回的列 -->
  <sql id="columns">
    `id` as "id",
    `goods_id` as "goods_id",
    `goods_specification_ids` as "goods_specification_ids",
    `goods_sn` as "goods_sn",
    `goods_number` as "goods_number",
    `retail_price` as "retail_price"
  </sql>
  
  <!-- 查询的列 -->
  <sql id="querys">
    <if test="id != null"> 
      and `id` = #{id}
    </if>
    <if test="goods_id != null"> 
      and `goods_id` = #{goods_id}
    </if>
    <if test="goods_specification_ids != null and goods_specification_ids != ''"> 
      and `goods_specification_ids` = #{goods_specification_ids}
    </if>
    <if test="goods_sn != null and goods_sn != ''"> 
      and `goods_sn` = #{goods_sn}
    </if>
    <if test="goods_number != null"> 
      and `goods_number` = #{goods_number}
    </if>
    <if test="retail_price != null"> 
      and `retail_price` = #{retail_price}
    </if>
  </sql>
  
  <!-- 根据主键id查询 -->
  <select id="get" resultType="cn.hualuomoli.mp.nideshop.base.entity.Product">
    select 
      <include refid="columns" />
    from `nideshop_product`
    where `id` =  #{id}
  </select>
  
  <!-- 添加 -->
  <insert id="insert">
    insert into `nideshop_product` (
      `id`,
      `goods_id`,
      `goods_specification_ids`,
      `goods_sn`,
      `goods_number`,
      `retail_price`
    ) values (
      #{id},
      #{goods_id},
      #{goods_specification_ids},
      #{goods_sn},
      #{goods_number},
      #{retail_price}
    )
  </insert>

  <!-- 批量添加 -->
  <insert id="batchInsert">
    insert into `nideshop_product` (
      `id`,
      `goods_id`,
      `goods_specification_ids`,
      `goods_sn`,
      `goods_number`,
      `retail_price`
    ) 
    <foreach collection="list" item="obj" separator="union all">
    select
      #{obj.id},
      #{obj.goods_id},
      #{obj.goods_specification_ids},
      #{obj.goods_sn},
      #{obj.goods_number},
      #{obj.retail_price}
    </foreach>
  </insert>
  
  <!-- 根据主键修改全部信息 -->
  <update id="update">
    update `nideshop_product`
    <set>
        `goods_id` = #{goods_id},
        `goods_specification_ids` = #{goods_specification_ids},
        `goods_sn` = #{goods_sn},
        `goods_number` = #{goods_number},
        `retail_price` = #{retail_price},
    </set>
    where id =  #{id}
  </update>

  <!-- 根据主键id修改 -->
  <update id="updateById">
    update `nideshop_product`
    <set>
      <if test="goods_id != null"> 
        `goods_id` = #{goods_id},
      </if>
      <if test="goods_specification_ids != null"> 
        `goods_specification_ids` = #{goods_specification_ids},
      </if>
      <if test="goods_sn != null"> 
        `goods_sn` = #{goods_sn},
      </if>
      <if test="goods_number != null"> 
        `goods_number` = #{goods_number},
      </if>
      <if test="retail_price != null"> 
        `retail_price` = #{retail_price},
      </if>
    </set>
    where id =  #{id}
  </update>

  
  <!-- 根据主键id删除 -->
  <delete id="delete">
    delete from `nideshop_product` where id =  #{id}
  </delete>
  

  <!-- 根据主键id数组删除 -->
  <delete id="deleteByArray">
    delete from `nideshop_product`
    <where>
      <foreach collection="ids" item="id" separator="or">
        id =  #{id}
      </foreach>
      </where>
  </delete>
  
  <!-- 查询列表 -->
  <select id="findList" resultType="cn.hualuomoli.mp.nideshop.base.entity.Product">
    select
      <include refid="columns" />
    from `nideshop_product`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>