<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hualuomoli.mp.nideshop.base.query.mapper.CommentQueryMapper">

  <!-- 返回的列 -->
  <sql id="columns">
    `id` as "id",
    `type_id` as "type_id",
    `value_id` as "value_id",
    `content` as "content",
    `add_time` as "add_time",
    `status` as "status",
    `user_id` as "user_id",
    `new_content` as "new_content"
  </sql>
  
  <!-- 查询的列 -->
  <sql id="querys">
    <if test="type_id != null">
      and `type_id` = #{type_id}
    </if>
    <if test="type_idGreaterThan != null"> 
      and `type_id` <![CDATA[ > ]]> #{type_idGreaterThan}
    </if>
    <if test="type_idGreaterEqual != null"> 
      and `type_id` <![CDATA[ >= ]]> #{type_idGreaterEqual}
    </if>
    <if test="type_idLessThan != null"> 
      and `type_id` <![CDATA[ < ]]> #{type_idLessThan}
    </if>
    <if test="type_idLessEqual != null"> 
      and `type_id` <![CDATA[ <= ]]> #{type_idLessEqual}
    </if>
    <if test="type_idNotEquals != null and type_idNotEquals != ''"> 
      and `type_id` <![CDATA[ <> ]]> #{type_idNotEquals}
    </if>
    <if test="type_idIns != null">
      <foreach collection="type_idIns" item="obj" open="and (" close=")" separator="or">
        `type_id` = #{obj}
      </foreach>
    </if>
    <if test="type_idNotIns != null">
      <foreach collection="type_idNotIns" item="obj" open="and (" close=")" separator="and">
        `type_id` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="value_id != null">
      and `value_id` = #{value_id}
    </if>
    <if test="value_idGreaterThan != null"> 
      and `value_id` <![CDATA[ > ]]> #{value_idGreaterThan}
    </if>
    <if test="value_idGreaterEqual != null"> 
      and `value_id` <![CDATA[ >= ]]> #{value_idGreaterEqual}
    </if>
    <if test="value_idLessThan != null"> 
      and `value_id` <![CDATA[ < ]]> #{value_idLessThan}
    </if>
    <if test="value_idLessEqual != null"> 
      and `value_id` <![CDATA[ <= ]]> #{value_idLessEqual}
    </if>
    <if test="value_idNotEquals != null and value_idNotEquals != ''"> 
      and `value_id` <![CDATA[ <> ]]> #{value_idNotEquals}
    </if>
    <if test="value_idIns != null">
      <foreach collection="value_idIns" item="obj" open="and (" close=")" separator="or">
        `value_id` = #{obj}
      </foreach>
    </if>
    <if test="value_idNotIns != null">
      <foreach collection="value_idNotIns" item="obj" open="and (" close=")" separator="and">
        `value_id` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="content != null and content != ''">
      and `content` = #{content}
    </if>
    <if test="contentLeftLike != null and contentLeftLike != ''"> 
      and `content` like CONCAT(#{contentLeftLike}, '%')
    </if>
    <if test="contentRightLike != null and contentRightLike != ''"> 
      and `content` like CONCAT('%', #{contentRightLike})
    </if>
    <if test="contentLike != null and contentLike != ''"> 
      and `content` like CONCAT('%', #{contentLike}, '%')
    </if>
    <if test="contentNotEquals != null and contentNotEquals != ''"> 
      and `content` <![CDATA[ <> ]]> #{contentNotEquals}
    </if>
    <if test="contentIns != null">
      <foreach collection="contentIns" item="obj" open="and (" close=")" separator="or">
        `content` = #{obj}
      </foreach>
    </if>
    <if test="contentNotIns != null">
      <foreach collection="contentNotIns" item="obj" open="and (" close=")" separator="and">
        `content` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="add_time != null">
      and `add_time` = #{add_time}
    </if>
    <if test="add_timeGreaterThan != null"> 
      and `add_time` <![CDATA[ > ]]> #{add_timeGreaterThan}
    </if>
    <if test="add_timeGreaterEqual != null"> 
      and `add_time` <![CDATA[ >= ]]> #{add_timeGreaterEqual}
    </if>
    <if test="add_timeLessThan != null"> 
      and `add_time` <![CDATA[ < ]]> #{add_timeLessThan}
    </if>
    <if test="add_timeLessEqual != null"> 
      and `add_time` <![CDATA[ <= ]]> #{add_timeLessEqual}
    </if>
    <if test="add_timeNotEquals != null and add_timeNotEquals != ''"> 
      and `add_time` <![CDATA[ <> ]]> #{add_timeNotEquals}
    </if>
    <if test="add_timeIns != null">
      <foreach collection="add_timeIns" item="obj" open="and (" close=")" separator="or">
        `add_time` = #{obj}
      </foreach>
    </if>
    <if test="add_timeNotIns != null">
      <foreach collection="add_timeNotIns" item="obj" open="and (" close=")" separator="and">
        `add_time` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="status != null">
      and `status` = #{status}
    </if>
    <if test="statusGreaterThan != null"> 
      and `status` <![CDATA[ > ]]> #{statusGreaterThan}
    </if>
    <if test="statusGreaterEqual != null"> 
      and `status` <![CDATA[ >= ]]> #{statusGreaterEqual}
    </if>
    <if test="statusLessThan != null"> 
      and `status` <![CDATA[ < ]]> #{statusLessThan}
    </if>
    <if test="statusLessEqual != null"> 
      and `status` <![CDATA[ <= ]]> #{statusLessEqual}
    </if>
    <if test="statusNotEquals != null and statusNotEquals != ''"> 
      and `status` <![CDATA[ <> ]]> #{statusNotEquals}
    </if>
    <if test="statusIns != null">
      <foreach collection="statusIns" item="obj" open="and (" close=")" separator="or">
        `status` = #{obj}
      </foreach>
    </if>
    <if test="statusNotIns != null">
      <foreach collection="statusNotIns" item="obj" open="and (" close=")" separator="and">
        `status` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="user_id != null">
      and `user_id` = #{user_id}
    </if>
    <if test="user_idGreaterThan != null"> 
      and `user_id` <![CDATA[ > ]]> #{user_idGreaterThan}
    </if>
    <if test="user_idGreaterEqual != null"> 
      and `user_id` <![CDATA[ >= ]]> #{user_idGreaterEqual}
    </if>
    <if test="user_idLessThan != null"> 
      and `user_id` <![CDATA[ < ]]> #{user_idLessThan}
    </if>
    <if test="user_idLessEqual != null"> 
      and `user_id` <![CDATA[ <= ]]> #{user_idLessEqual}
    </if>
    <if test="user_idNotEquals != null and user_idNotEquals != ''"> 
      and `user_id` <![CDATA[ <> ]]> #{user_idNotEquals}
    </if>
    <if test="user_idIns != null">
      <foreach collection="user_idIns" item="obj" open="and (" close=")" separator="or">
        `user_id` = #{obj}
      </foreach>
    </if>
    <if test="user_idNotIns != null">
      <foreach collection="user_idNotIns" item="obj" open="and (" close=")" separator="and">
        `user_id` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="new_content != null and new_content != ''">
      and `new_content` = #{new_content}
    </if>
    <if test="new_contentLeftLike != null and new_contentLeftLike != ''"> 
      and `new_content` like CONCAT(#{new_contentLeftLike}, '%')
    </if>
    <if test="new_contentRightLike != null and new_contentRightLike != ''"> 
      and `new_content` like CONCAT('%', #{new_contentRightLike})
    </if>
    <if test="new_contentLike != null and new_contentLike != ''"> 
      and `new_content` like CONCAT('%', #{new_contentLike}, '%')
    </if>
    <if test="new_contentNotEquals != null and new_contentNotEquals != ''"> 
      and `new_content` <![CDATA[ <> ]]> #{new_contentNotEquals}
    </if>
    <if test="new_contentIns != null">
      <foreach collection="new_contentIns" item="obj" open="and (" close=")" separator="or">
        `new_content` = #{obj}
      </foreach>
    </if>
    <if test="new_contentNotIns != null">
      <foreach collection="new_contentNotIns" item="obj" open="and (" close=")" separator="and">
        `new_content` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
  </sql>
  
  <!-- 查询列表 -->
  <select id="findList" resultType="cn.hualuomoli.mp.nideshop.base.entity.Comment">
    select
      <include refid="columns" />
    from `nideshop_comment`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>