<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hualuomoli.mp.nideshop.base.query.mapper.CommentPictureQueryMapper">

  <!-- 返回的列 -->
  <sql id="columns">
    `id` as "id",
    `comment_id` as "comment_id",
    `pic_url` as "pic_url",
    `sort_order` as "sort_order"
  </sql>
  
  <!-- 查询的列 -->
  <sql id="querys">
    <if test="comment_id != null">
      and `comment_id` = #{comment_id}
    </if>
    <if test="comment_idGreaterThan != null"> 
      and `comment_id` <![CDATA[ > ]]> #{comment_idGreaterThan}
    </if>
    <if test="comment_idGreaterEqual != null"> 
      and `comment_id` <![CDATA[ >= ]]> #{comment_idGreaterEqual}
    </if>
    <if test="comment_idLessThan != null"> 
      and `comment_id` <![CDATA[ < ]]> #{comment_idLessThan}
    </if>
    <if test="comment_idLessEqual != null"> 
      and `comment_id` <![CDATA[ <= ]]> #{comment_idLessEqual}
    </if>
    <if test="comment_idNotEquals != null and comment_idNotEquals != ''"> 
      and `comment_id` <![CDATA[ <> ]]> #{comment_idNotEquals}
    </if>
    <if test="comment_idIns != null">
      <foreach collection="comment_idIns" item="obj" open="and (" close=")" separator="or">
        `comment_id` = #{obj}
      </foreach>
    </if>
    <if test="comment_idNotIns != null">
      <foreach collection="comment_idNotIns" item="obj" open="and (" close=")" separator="and">
        `comment_id` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="pic_url != null and pic_url != ''">
      and `pic_url` = #{pic_url}
    </if>
    <if test="pic_urlLeftLike != null and pic_urlLeftLike != ''"> 
      and `pic_url` like CONCAT(#{pic_urlLeftLike}, '%')
    </if>
    <if test="pic_urlRightLike != null and pic_urlRightLike != ''"> 
      and `pic_url` like CONCAT('%', #{pic_urlRightLike})
    </if>
    <if test="pic_urlLike != null and pic_urlLike != ''"> 
      and `pic_url` like CONCAT('%', #{pic_urlLike}, '%')
    </if>
    <if test="pic_urlNotEquals != null and pic_urlNotEquals != ''"> 
      and `pic_url` <![CDATA[ <> ]]> #{pic_urlNotEquals}
    </if>
    <if test="pic_urlIns != null">
      <foreach collection="pic_urlIns" item="obj" open="and (" close=")" separator="or">
        `pic_url` = #{obj}
      </foreach>
    </if>
    <if test="pic_urlNotIns != null">
      <foreach collection="pic_urlNotIns" item="obj" open="and (" close=")" separator="and">
        `pic_url` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="sort_order != null">
      and `sort_order` = #{sort_order}
    </if>
    <if test="sort_orderGreaterThan != null"> 
      and `sort_order` <![CDATA[ > ]]> #{sort_orderGreaterThan}
    </if>
    <if test="sort_orderGreaterEqual != null"> 
      and `sort_order` <![CDATA[ >= ]]> #{sort_orderGreaterEqual}
    </if>
    <if test="sort_orderLessThan != null"> 
      and `sort_order` <![CDATA[ < ]]> #{sort_orderLessThan}
    </if>
    <if test="sort_orderLessEqual != null"> 
      and `sort_order` <![CDATA[ <= ]]> #{sort_orderLessEqual}
    </if>
    <if test="sort_orderNotEquals != null and sort_orderNotEquals != ''"> 
      and `sort_order` <![CDATA[ <> ]]> #{sort_orderNotEquals}
    </if>
    <if test="sort_orderIns != null">
      <foreach collection="sort_orderIns" item="obj" open="and (" close=")" separator="or">
        `sort_order` = #{obj}
      </foreach>
    </if>
    <if test="sort_orderNotIns != null">
      <foreach collection="sort_orderNotIns" item="obj" open="and (" close=")" separator="and">
        `sort_order` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
  </sql>
  
  <!-- 查询列表 -->
  <select id="findList" resultType="cn.hualuomoli.mp.nideshop.base.entity.CommentPicture">
    select
      <include refid="columns" />
    from `nideshop_comment_picture`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>