<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hualuomoli.mp.nideshop.base.query.mapper.TopicQueryMapper">

  <!-- 返回的列 -->
  <sql id="columns">
    `id` as "id",
    `title` as "title",
    `content` as "content",
    `avatar` as "avatar",
    `item_pic_url` as "item_pic_url",
    `subtitle` as "subtitle",
    `topic_category_id` as "topic_category_id",
    `price_info` as "price_info",
    `read_count` as "read_count",
    `scene_pic_url` as "scene_pic_url",
    `topic_template_id` as "topic_template_id",
    `topic_tag_id` as "topic_tag_id",
    `sort_order` as "sort_order",
    `is_show` as "is_show"
  </sql>
  
  <!-- 查询的列 -->
  <sql id="querys">
    <if test="id != null">
      and `id` = #{id}
    </if>
    <if test="idGreaterThan != null"> 
      and `id` <![CDATA[ > ]]> #{idGreaterThan}
    </if>
    <if test="idGreaterEqual != null"> 
      and `id` <![CDATA[ >= ]]> #{idGreaterEqual}
    </if>
    <if test="idLessThan != null"> 
      and `id` <![CDATA[ < ]]> #{idLessThan}
    </if>
    <if test="idLessEqual != null"> 
      and `id` <![CDATA[ <= ]]> #{idLessEqual}
    </if>
    <if test="idNotEquals != null and idNotEquals != ''"> 
      and `id` <![CDATA[ <> ]]> #{idNotEquals}
    </if>
    <if test="idIns != null">
      <foreach collection="idIns" item="obj" open="and (" close=")" separator="or">
        `id` = #{obj}
      </foreach>
    </if>
    <if test="idNotIns != null">
      <foreach collection="idNotIns" item="obj" open="and (" close=")" separator="and">
        `id` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="title != null and title != ''">
      and `title` = #{title}
    </if>
    <if test="titleLeftLike != null and titleLeftLike != ''"> 
      and `title` like CONCAT(#{titleLeftLike}, '%')
    </if>
    <if test="titleRightLike != null and titleRightLike != ''"> 
      and `title` like CONCAT('%', #{titleRightLike})
    </if>
    <if test="titleLike != null and titleLike != ''"> 
      and `title` like CONCAT('%', #{titleLike}, '%')
    </if>
    <if test="titleNotEquals != null and titleNotEquals != ''"> 
      and `title` <![CDATA[ <> ]]> #{titleNotEquals}
    </if>
    <if test="titleIns != null">
      <foreach collection="titleIns" item="obj" open="and (" close=")" separator="or">
        `title` = #{obj}
      </foreach>
    </if>
    <if test="titleNotIns != null">
      <foreach collection="titleNotIns" item="obj" open="and (" close=")" separator="and">
        `title` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="content != null and content != ''">
      and `content` = #{content}
    </if>
    <if test="contentLeftLike != null and contentLeftLike != ''"> 
      and `content` like CONCAT(#{contentLeftLike}, '%')
    </if>
    <if test="contentRightLike != null and contentRightLike != ''"> 
      and `content` like CONCAT('%', #{contentRightLike})
    </if>
    <if test="contentLike != null and contentLike != ''"> 
      and `content` like CONCAT('%', #{contentLike}, '%')
    </if>
    <if test="contentNotEquals != null and contentNotEquals != ''"> 
      and `content` <![CDATA[ <> ]]> #{contentNotEquals}
    </if>
    <if test="contentIns != null">
      <foreach collection="contentIns" item="obj" open="and (" close=")" separator="or">
        `content` = #{obj}
      </foreach>
    </if>
    <if test="contentNotIns != null">
      <foreach collection="contentNotIns" item="obj" open="and (" close=")" separator="and">
        `content` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="avatar != null and avatar != ''">
      and `avatar` = #{avatar}
    </if>
    <if test="avatarLeftLike != null and avatarLeftLike != ''"> 
      and `avatar` like CONCAT(#{avatarLeftLike}, '%')
    </if>
    <if test="avatarRightLike != null and avatarRightLike != ''"> 
      and `avatar` like CONCAT('%', #{avatarRightLike})
    </if>
    <if test="avatarLike != null and avatarLike != ''"> 
      and `avatar` like CONCAT('%', #{avatarLike}, '%')
    </if>
    <if test="avatarNotEquals != null and avatarNotEquals != ''"> 
      and `avatar` <![CDATA[ <> ]]> #{avatarNotEquals}
    </if>
    <if test="avatarIns != null">
      <foreach collection="avatarIns" item="obj" open="and (" close=")" separator="or">
        `avatar` = #{obj}
      </foreach>
    </if>
    <if test="avatarNotIns != null">
      <foreach collection="avatarNotIns" item="obj" open="and (" close=")" separator="and">
        `avatar` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="item_pic_url != null and item_pic_url != ''">
      and `item_pic_url` = #{item_pic_url}
    </if>
    <if test="item_pic_urlLeftLike != null and item_pic_urlLeftLike != ''"> 
      and `item_pic_url` like CONCAT(#{item_pic_urlLeftLike}, '%')
    </if>
    <if test="item_pic_urlRightLike != null and item_pic_urlRightLike != ''"> 
      and `item_pic_url` like CONCAT('%', #{item_pic_urlRightLike})
    </if>
    <if test="item_pic_urlLike != null and item_pic_urlLike != ''"> 
      and `item_pic_url` like CONCAT('%', #{item_pic_urlLike}, '%')
    </if>
    <if test="item_pic_urlNotEquals != null and item_pic_urlNotEquals != ''"> 
      and `item_pic_url` <![CDATA[ <> ]]> #{item_pic_urlNotEquals}
    </if>
    <if test="item_pic_urlIns != null">
      <foreach collection="item_pic_urlIns" item="obj" open="and (" close=")" separator="or">
        `item_pic_url` = #{obj}
      </foreach>
    </if>
    <if test="item_pic_urlNotIns != null">
      <foreach collection="item_pic_urlNotIns" item="obj" open="and (" close=")" separator="and">
        `item_pic_url` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="subtitle != null and subtitle != ''">
      and `subtitle` = #{subtitle}
    </if>
    <if test="subtitleLeftLike != null and subtitleLeftLike != ''"> 
      and `subtitle` like CONCAT(#{subtitleLeftLike}, '%')
    </if>
    <if test="subtitleRightLike != null and subtitleRightLike != ''"> 
      and `subtitle` like CONCAT('%', #{subtitleRightLike})
    </if>
    <if test="subtitleLike != null and subtitleLike != ''"> 
      and `subtitle` like CONCAT('%', #{subtitleLike}, '%')
    </if>
    <if test="subtitleNotEquals != null and subtitleNotEquals != ''"> 
      and `subtitle` <![CDATA[ <> ]]> #{subtitleNotEquals}
    </if>
    <if test="subtitleIns != null">
      <foreach collection="subtitleIns" item="obj" open="and (" close=")" separator="or">
        `subtitle` = #{obj}
      </foreach>
    </if>
    <if test="subtitleNotIns != null">
      <foreach collection="subtitleNotIns" item="obj" open="and (" close=")" separator="and">
        `subtitle` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="topic_category_id != null">
      and `topic_category_id` = #{topic_category_id}
    </if>
    <if test="topic_category_idGreaterThan != null"> 
      and `topic_category_id` <![CDATA[ > ]]> #{topic_category_idGreaterThan}
    </if>
    <if test="topic_category_idGreaterEqual != null"> 
      and `topic_category_id` <![CDATA[ >= ]]> #{topic_category_idGreaterEqual}
    </if>
    <if test="topic_category_idLessThan != null"> 
      and `topic_category_id` <![CDATA[ < ]]> #{topic_category_idLessThan}
    </if>
    <if test="topic_category_idLessEqual != null"> 
      and `topic_category_id` <![CDATA[ <= ]]> #{topic_category_idLessEqual}
    </if>
    <if test="topic_category_idNotEquals != null and topic_category_idNotEquals != ''"> 
      and `topic_category_id` <![CDATA[ <> ]]> #{topic_category_idNotEquals}
    </if>
    <if test="topic_category_idIns != null">
      <foreach collection="topic_category_idIns" item="obj" open="and (" close=")" separator="or">
        `topic_category_id` = #{obj}
      </foreach>
    </if>
    <if test="topic_category_idNotIns != null">
      <foreach collection="topic_category_idNotIns" item="obj" open="and (" close=")" separator="and">
        `topic_category_id` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="price_info != null">
      and `price_info` = #{price_info}
    </if>
    <if test="price_infoGreaterThan != null"> 
      and `price_info` <![CDATA[ > ]]> #{price_infoGreaterThan}
    </if>
    <if test="price_infoGreaterEqual != null"> 
      and `price_info` <![CDATA[ >= ]]> #{price_infoGreaterEqual}
    </if>
    <if test="price_infoLessThan != null"> 
      and `price_info` <![CDATA[ < ]]> #{price_infoLessThan}
    </if>
    <if test="price_infoLessEqual != null"> 
      and `price_info` <![CDATA[ <= ]]> #{price_infoLessEqual}
    </if>
    <if test="price_infoNotEquals != null and price_infoNotEquals != ''"> 
      and `price_info` <![CDATA[ <> ]]> #{price_infoNotEquals}
    </if>
    <if test="price_infoIns != null">
      <foreach collection="price_infoIns" item="obj" open="and (" close=")" separator="or">
        `price_info` = #{obj}
      </foreach>
    </if>
    <if test="price_infoNotIns != null">
      <foreach collection="price_infoNotIns" item="obj" open="and (" close=")" separator="and">
        `price_info` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="read_count != null and read_count != ''">
      and `read_count` = #{read_count}
    </if>
    <if test="read_countLeftLike != null and read_countLeftLike != ''"> 
      and `read_count` like CONCAT(#{read_countLeftLike}, '%')
    </if>
    <if test="read_countRightLike != null and read_countRightLike != ''"> 
      and `read_count` like CONCAT('%', #{read_countRightLike})
    </if>
    <if test="read_countLike != null and read_countLike != ''"> 
      and `read_count` like CONCAT('%', #{read_countLike}, '%')
    </if>
    <if test="read_countNotEquals != null and read_countNotEquals != ''"> 
      and `read_count` <![CDATA[ <> ]]> #{read_countNotEquals}
    </if>
    <if test="read_countIns != null">
      <foreach collection="read_countIns" item="obj" open="and (" close=")" separator="or">
        `read_count` = #{obj}
      </foreach>
    </if>
    <if test="read_countNotIns != null">
      <foreach collection="read_countNotIns" item="obj" open="and (" close=")" separator="and">
        `read_count` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="scene_pic_url != null and scene_pic_url != ''">
      and `scene_pic_url` = #{scene_pic_url}
    </if>
    <if test="scene_pic_urlLeftLike != null and scene_pic_urlLeftLike != ''"> 
      and `scene_pic_url` like CONCAT(#{scene_pic_urlLeftLike}, '%')
    </if>
    <if test="scene_pic_urlRightLike != null and scene_pic_urlRightLike != ''"> 
      and `scene_pic_url` like CONCAT('%', #{scene_pic_urlRightLike})
    </if>
    <if test="scene_pic_urlLike != null and scene_pic_urlLike != ''"> 
      and `scene_pic_url` like CONCAT('%', #{scene_pic_urlLike}, '%')
    </if>
    <if test="scene_pic_urlNotEquals != null and scene_pic_urlNotEquals != ''"> 
      and `scene_pic_url` <![CDATA[ <> ]]> #{scene_pic_urlNotEquals}
    </if>
    <if test="scene_pic_urlIns != null">
      <foreach collection="scene_pic_urlIns" item="obj" open="and (" close=")" separator="or">
        `scene_pic_url` = #{obj}
      </foreach>
    </if>
    <if test="scene_pic_urlNotIns != null">
      <foreach collection="scene_pic_urlNotIns" item="obj" open="and (" close=")" separator="and">
        `scene_pic_url` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="topic_template_id != null">
      and `topic_template_id` = #{topic_template_id}
    </if>
    <if test="topic_template_idGreaterThan != null"> 
      and `topic_template_id` <![CDATA[ > ]]> #{topic_template_idGreaterThan}
    </if>
    <if test="topic_template_idGreaterEqual != null"> 
      and `topic_template_id` <![CDATA[ >= ]]> #{topic_template_idGreaterEqual}
    </if>
    <if test="topic_template_idLessThan != null"> 
      and `topic_template_id` <![CDATA[ < ]]> #{topic_template_idLessThan}
    </if>
    <if test="topic_template_idLessEqual != null"> 
      and `topic_template_id` <![CDATA[ <= ]]> #{topic_template_idLessEqual}
    </if>
    <if test="topic_template_idNotEquals != null and topic_template_idNotEquals != ''"> 
      and `topic_template_id` <![CDATA[ <> ]]> #{topic_template_idNotEquals}
    </if>
    <if test="topic_template_idIns != null">
      <foreach collection="topic_template_idIns" item="obj" open="and (" close=")" separator="or">
        `topic_template_id` = #{obj}
      </foreach>
    </if>
    <if test="topic_template_idNotIns != null">
      <foreach collection="topic_template_idNotIns" item="obj" open="and (" close=")" separator="and">
        `topic_template_id` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="topic_tag_id != null">
      and `topic_tag_id` = #{topic_tag_id}
    </if>
    <if test="topic_tag_idGreaterThan != null"> 
      and `topic_tag_id` <![CDATA[ > ]]> #{topic_tag_idGreaterThan}
    </if>
    <if test="topic_tag_idGreaterEqual != null"> 
      and `topic_tag_id` <![CDATA[ >= ]]> #{topic_tag_idGreaterEqual}
    </if>
    <if test="topic_tag_idLessThan != null"> 
      and `topic_tag_id` <![CDATA[ < ]]> #{topic_tag_idLessThan}
    </if>
    <if test="topic_tag_idLessEqual != null"> 
      and `topic_tag_id` <![CDATA[ <= ]]> #{topic_tag_idLessEqual}
    </if>
    <if test="topic_tag_idNotEquals != null and topic_tag_idNotEquals != ''"> 
      and `topic_tag_id` <![CDATA[ <> ]]> #{topic_tag_idNotEquals}
    </if>
    <if test="topic_tag_idIns != null">
      <foreach collection="topic_tag_idIns" item="obj" open="and (" close=")" separator="or">
        `topic_tag_id` = #{obj}
      </foreach>
    </if>
    <if test="topic_tag_idNotIns != null">
      <foreach collection="topic_tag_idNotIns" item="obj" open="and (" close=")" separator="and">
        `topic_tag_id` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="sort_order != null">
      and `sort_order` = #{sort_order}
    </if>
    <if test="sort_orderGreaterThan != null"> 
      and `sort_order` <![CDATA[ > ]]> #{sort_orderGreaterThan}
    </if>
    <if test="sort_orderGreaterEqual != null"> 
      and `sort_order` <![CDATA[ >= ]]> #{sort_orderGreaterEqual}
    </if>
    <if test="sort_orderLessThan != null"> 
      and `sort_order` <![CDATA[ < ]]> #{sort_orderLessThan}
    </if>
    <if test="sort_orderLessEqual != null"> 
      and `sort_order` <![CDATA[ <= ]]> #{sort_orderLessEqual}
    </if>
    <if test="sort_orderNotEquals != null and sort_orderNotEquals != ''"> 
      and `sort_order` <![CDATA[ <> ]]> #{sort_orderNotEquals}
    </if>
    <if test="sort_orderIns != null">
      <foreach collection="sort_orderIns" item="obj" open="and (" close=")" separator="or">
        `sort_order` = #{obj}
      </foreach>
    </if>
    <if test="sort_orderNotIns != null">
      <foreach collection="sort_orderNotIns" item="obj" open="and (" close=")" separator="and">
        `sort_order` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
    <if test="is_show != null">
      and `is_show` = #{is_show}
    </if>
    <if test="is_showGreaterThan != null"> 
      and `is_show` <![CDATA[ > ]]> #{is_showGreaterThan}
    </if>
    <if test="is_showGreaterEqual != null"> 
      and `is_show` <![CDATA[ >= ]]> #{is_showGreaterEqual}
    </if>
    <if test="is_showLessThan != null"> 
      and `is_show` <![CDATA[ < ]]> #{is_showLessThan}
    </if>
    <if test="is_showLessEqual != null"> 
      and `is_show` <![CDATA[ <= ]]> #{is_showLessEqual}
    </if>
    <if test="is_showNotEquals != null and is_showNotEquals != ''"> 
      and `is_show` <![CDATA[ <> ]]> #{is_showNotEquals}
    </if>
    <if test="is_showIns != null">
      <foreach collection="is_showIns" item="obj" open="and (" close=")" separator="or">
        `is_show` = #{obj}
      </foreach>
    </if>
    <if test="is_showNotIns != null">
      <foreach collection="is_showNotIns" item="obj" open="and (" close=")" separator="and">
        `is_show` <![CDATA[ <> ]]> #{obj}
      </foreach>
    </if>
  </sql>
  
  <!-- 查询列表 -->
  <select id="findList" resultType="cn.hualuomoli.mp.nideshop.base.entity.Topic">
    select
      <include refid="columns" />
    from `nideshop_topic`
    <where>
      <include refid="querys" />
    </where>
  </select>
  
</mapper>